store-dir=/Volumes/fushilu/.caches/pnpm/store
virtual-store-dir=/Volumes/fushilu/.caches/sunlab/pnpm/virtual-store
cache-dir=/Volumes/fushilu/.caches/pnpm/cache
electron_config_cache=/Volumes/fushilu/.caches/electron
